@section scripts {
<script src="~/js/controllers/accountcontroller.js" type="text/javascript"></script>
}

<body style="background-image:url(http://www.caymanlandandsea.com/photogallery/Stingray%2520Underwater.png)" class="background-one">


    <h1 class="col-sm-offset-3" style="text-shadow:5px 5px 5px; color: white">Welcome To The Aquarium!</h1>
        <div class="row" ng-controller="AccountController as ac" g-cloak>
             <div class="col-sm-3 col-sm-offset-7">
                 <div class="pr-wrap">
                </div>
                 <div class="wrap">
                     <p class="form-title">
                         Login
                     </p>
                     <div class="panel-body" ng-init="user = {}">
                         <form class="login">
                             <input type="text" style="color:black" placeholder="Email" class="form-underlined" ng-model="user.email" />
                             <input type="password" style="color:black" placeholder="Password" class="form-underlined" ng-model="user.password" />
                             <input type="submit" value="Login" class="btn btn-primary btn-sm" ng-click="ac.Login(user)" />
                         </form>
                     </div>
                 </div>
            </div>
        </div>

</body>

    @*<div class="container">*@
       
                
        
    @*</div>*@

@*<h3 style="font-weight: bolder">Login:</h3>
    <div class="panel-body" ng-init="user = {}">
        <div class="form-group text-right">
            <input type="text" class="form-control" placeholder="Email" ng-model="user.email" />
        </div>
        <div class="form-group text-right">
            <input type="password" class="form-control" placeholder="Password" ng-model="user.password" />
        </div>
        <button type="submit" class="btn btn-primary btn-block" ng-click="ac.Login(user)">Login</button>
    </div>*@
    
