
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ViewData["Title"] = "User's Fish";
}


<table class="table">
    <tbody>
        @*@foreach (var fish in User.Fishes)
        {
            <tr>
                <td>
                    <p class="text-primary">@fish.Fishes.Name</p>
                </td>
                <td>
                    <p>Type of Fish: $@fish.Fishes.Type</p>
                </td>
            </tr>
        }*@


        <a class="btn btn-primary" href="http://localhost:53298/home/fishadd">Add Fish &raquo;</a>
    </tbody>
</table>