
@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image:url(https://www.muralswallpaper.com//app/uploads/orange-starfish-underwater%EF%BB%BF-plain-1.jpg)">

    <h1 class="col-sm-offset-3" style="text-shadow:5px 5px 5px">Welcome To The Aquarium!</h1>


</body>