
@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image:url(https://s-media-cache-ak0.pinimg.com/originals/50/10/3e/50103e3bed5d50042f5b82a600c06d0f.jpg);"  >

    <h1 class="col-sm-offset-3" style="text-shadow:5px 5px 5px">Welcome To The Aquarium!</h1>


</body>