
@section scripts {
    <script src="~/js/controllers/aquariumcontroller.js" type="text/javascript"></script>
<script src="~/js/controllers/tankcontroller.js" type="text/javascript"></script>
}


@{ViewData["Title"] = "Fish";
}

<body style="background-image:url(http://www.kargs.net/wallpaper/images/water.jpg)">

    <table class="table" ng-controller="AquariumController as aqc" ng-init="aqc.GetInfo('@Model')">
        <tbody class="text-center">
            <tr>
                <td style="font-weight:bolder; font-size:larger; color:aqua">Name</td>
                <td style="font-weight:bolder; font-size:larger; color:aqua">Type</td>
                <td style="font-weight:bolder; font-size:larger;color:aqua">Description</td>
            </tr>
            
            <tr ng-repeat="fish in aqc.Fishes">
                <td style="font-weight:bolder; font-size:large; color: white">{{fish.name}}</td>
                <td style="font-weight:bolder; font-size:large; color: white">{{fish.type}}</td>
                <td style="font-weight:bolder; font-size:large; color:white">{{fish.description}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="aqc.Remove(fish)">Remove</button>
                </td>
            </tr>
            <tr ng-init="fish = {}"></tr>

        </tbody>
    </table>
</body>


<a class="btn btn-info" href="http://localhost:53298/home/tanks/@Model/fishadd">Add A Fish</a>
<a class="btn btn-info" href="http://localhost:53298/home/tanks/">My Tanks</a>

