@section scripts {
    <script src="~/js/controllers/tankcontroller.js" type="text/javascript"></script>
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <video autoplay loop muted class="background">
        <source src="https://static.videezy.com/system/resources/previews/000/002/459/original/moon-jellies-hd-stock-video.mp4" type="video/mp4" />
    </video>
    <div class="col-sm-5 col-sm-offset-4 m-t-2">
        <div class="panel panel-transparent">
            <div class="panel-heading center">
                Tanks
            </div>
            <table class="table" ng-controller="TankController as tc">

                <tr ng-repeat="tank in tc.Tanks">
                    <td>
                        <a class="btn btn-link gold-text m-t-1" style="font-weight:bolder;
                       font-size:large;" href="/tanks/{{tank.id}}">{{tank.name}}</a>

                    </td>
                    <td>
                        <a class="btn btn-primary m-t-1" href="/tanks/{{tank.id}}">Explore Tank</a>
                    </td>
                    <td>
                        <button class="btn btn-danger m-t-1" ng-click="tc.Remove(tank)">Remove</button>
                    </td>
                </tr>
                <tr ng-init="tank={}">
                    <td colspan="3">
                        <div class="col-sm-12">
                            <div class="input-group ">
                                <input type="text" class="form-control" placeholder="Name" ng-model="tank.name" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default" ng-click="tc.Add(tank)">Add</button>
                                </span>
                            </div>
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>