
@*@section scripts {
    <script src="~/js/controllers/aquariumcontroller.js" type="text/javascript"></script>
}*@

@section scripts {
    <script src="~/js/controllers/tankcontroller.js" type="text/javascript"></script>
}


@{ViewData["Title"] = "Your Tanks";
}

@*<table class="table" ng-controller="AquariumController as aqc">
    <tbody>
        <tr ng-repeat="fish in aqc.Fishes">
            <td>Name: {{fish.name}}</td>
                      

        </tr>
        <tr ng-init="fish = {}">
        </tr>
    </tbody>
</table>*@

<table class="table" ng-controller="TankController as tc">
    <tbody>
        <tr ng-repeat="tank in tc.Tanks">
            <td>Name: {{tank.name}}</td>


        </tr>
        <tr ng-init="tank = {}"></tr>
    </tbody>
</table>

<a class="btn btn-primary" href="http://localhost:53298/home/user/tankadd">Add A Tank &raquo;</a>
<p><button type="submit" class="btn btn-primary" ng-click="tc.Clear(tanks)">Add Shark</button></p>